/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */


 body {background-image: url("images/tropical.jpg");
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
}

h1 {	font-weight: bold; 
		font-style: italic; 
		color: #004C99;
		line-height: 50px;
}

#modal-popup { color: #004C99;
    text-align: center;
    position: fixed;
    top: 35%;
    line-height: 10px;
    height: 600px;
    width: 600px;
    left: 50%;
	margin-left: -300px;
	margin-top:-250px;
}

.profile-pic {
	width: 250px;
	border-radius: 125px;
	float: center;
}
aside {
	position: absolute;
	top:100px;
	left: 650px;
	min-width: 50px;
	max-width: 100px;
	padding: 10px;
	margin: 0 auto;
	

}